* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

body {
    cursor: default;
    height: 100vh;
    display: flex;
    background: rgb(93, 151, 111);
}

.wrapper {
    margin: auto;
    width: 70vw;
    min-width: 1070px;
    height: 700px;    
    background: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 25px;
    margin: 25px 0;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    padding: 0 15px 15px 15px;
}

.left {
    width: fit-content;
}

.right {
    width: 60%;
    overflow-y: scroll;
}

.right, .left {
    height: 100%;
}

input, button {
    display: block;
    width: 400px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.row {
    display: flex;
}

.cols {
    width: 400px;
    max-width: 400px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.577);
    text-align: center;
    white-space: nowrap;
}

.title {
    padding: 10px 0;
    background-color: rgb(72, 189, 156);
    color: #fff;
}

.item {
    padding: 7px 2px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 7px;
    height: 6px;
    background-color: transparent; /* or add it to the track */
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 213, 178, 0.758);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(90, 213, 178, 0.922);
    border-radius: 5px;
}