* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(42, 42, 42);
    cursor: default;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
}

.section-1 {
    justify-content: space-evenly;
    width: 40vw;
    background-color: blueviolet;
}

.section-2 {
    background-color: rgb(0, 99, 148);
    width: 60vw;
}

input {
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.a {
    background-color: aquamarine;
}

.b {
    background-color: bisque;
}

.a, .b {
    display: inline-block;
    width: 110px;
    padding: 10px;
    height: fit-content;
    border: 1px solid gray;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}